//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------
html {
  overflow-x: hidden;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height;
  color: $body-color;
  background-color: $body-bg;
  min-width: 320px;
}

// Clear outline border
// -------------------------

*:focus {
    outline: none;
}


//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3 {
  font-family: $font-family-sans;
  color: $dark-blue;
  font-weight: 700;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}

// Body text
// -------------------------

p {
  font-family: $font-family-serif;
  font-size: $font-size-base;
  margin-bottom: 1rem;
}

strong {
  font-weight: 700;
}

.nowrap {
  white-space: nowrap;
}

a {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
  }
}

.left {
  text-align: left;
}

.border-no {
  padding: 0;
  margin: 0;
  border: none;
}