// Variables
//


// Table of Contents
//
// Breakpoints
// Colors
// Body
// Links
// Fonts

// Colors
//

$dark-blue:                  #34495e;
$color-blue:                 #2980b9;
$color-green:                #2ecc71;
$color-white:                #fff;
$color-greena:               rgba(46, 204, 113, .6);
$color-black:                #000;


// Body
//
// Settings for the `<body>` element

$body-bg:                    #ffffff;
$body-color:                 $dark-blue;


// Typography
//
// Font, line-height, and color for body text, headings, and more

$font-family-base:          'Open Sans', sans-serif;
$font-family-header:        'Open Sans', sans-serif;
$font-family-sans:          'Droid Sans', sans-serif;
$font-family-serif:         'Droid Serif', serif;

$font-size-base:             20px;
$font-size-small:            16px;
$font-size-about:            24px;
$font-size-contact:          26px;
$font-size-h1:               80px;
$font-size-h2:               45px;
$font-size-h3:               26px;
$font-size-h4:               35px;

$line-height:                1;