.about {
  padding: 10vh 0;

  h2 {
    margin-top: -18px;
  }

  p {
    padding: 40px 0;
    @media (max-width: 992px) {
      padding: 20px 0;
    }
  }

  .about-wrap {
    text-align: right;
    @media (max-width: 992px) {
        text-align: center;
    }
  }
  .about-picture {
    position: relative;
    .about-overlay {
      position: absolute;
      left: 50%;
      top: 100%;
      transform:translate(-50%,-35%)
    }
     @media (max-width: 992px) {
       display: none;
     }
  }
}