.projects {
  @media (max-width: 992px) {
    text-align: center;
  }
  h2 {
    text-align: left;
    margin-bottom: 30px;
  }
}
.projects-list {
  li {
    margin-bottom: 30px;
    .image-wrap {
      position: relative;
      overflow: hidden;
      &:hover {
        .plus {
          background-color: #f6a149;
        }
        .overlay {
          opacity: 1;
        }
      }
      img {
        height: auto;
        @media (max-width: 992px) {
          width: 100%;
        }
      }
      .project-tag {
        position: absolute;
        top: 21px;
        left: 20px;
        display: inline-block;
        padding: 6px 24px;
        font-size: 12px;
        color: #fff;
        border: 2px solid $color-orange;
        border-radius: 15px;
        white-space: nowrap;
      }
      .plus {
        background-color: #03b6e7;
        bottom: -20px;
        height: 56px;
        left: -59px;
        position: absolute;
        transform: rotate(45deg);
        width: 136px;
        z-index: 1;
        transition: background .3s ease-in-out;
        &:before {
          content: "+";
          height: 14px;
          left: 70px;
          position: absolute;
          top: 2px;
          color: white;
          transform: rotate(45deg);
          width: 14px;
          font-size: 26px;
        }
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      padding: 0 10px;
      flex-flow: column nowrap;
      justify-content: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-color: $color-orange;
      text-align: center;
      transition: all 0.5s ease;
      opacity: 0;
      h3 {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      p {
        color: #fffdfa;
      }
    }
  }
}