.main-footer {
  padding: 5vh 0 10vh;
  color: $color-dark-grey;
  font-family: "Proxima Nova Lt", sans-serif;
  text-align: center;
  background-color: $color-grey;

  span {
    font-family: "Proxima Nova Rg", sans-serif;
  }
}