@import url('https://fonts.googleapis.com/css?family=Domine|Lato:300|Montserrat:400,700');

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?94964387');
  src: url('../fonts/fontello/fontello.eot?94964387#iefix') format('embedded-opentype'),
  url('../fonts/fontello/fontello.woff2?94964387') format('woff2'),
  url('../fonts/fontello/fontello.woff?94964387') format('woff'),
  url('../fonts/fontello/fontello.ttf?94964387') format('truetype'),
  url('../fonts/fontello/fontello.svg?94964387#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}