// COLORS

$color-blue:								#03b6e7;
$color-blue-hover:					    	#00a6d3;
$color-green:					    		#16d428;
$color-orange:								#ffac56;
$color-black-bg:							#262829;
$color-black-text:						    #343a3b;
$color-grey-heading:					    #898e8f;
$color-grey-text:							#838b8c;
				
$color-grey-bg:								#e7eff1;			
$color-body-bg:								#ffffff;


$text-font:									'Domine', serif;
$base-font:									'Montserrat', sans-serif;
$h1-font:									'Lato', sans-serif;
	

$base-font-size:							15px;
$medium-font-size:					    	14px;
$small-font-size:							13px;
$tag-font-size:								12px;
$h1-font-size:								30px;
$h2-font-size:								32px;
$h3-font-size:								18px; 
$h3-footer-font-size:				    	20px;