.contact {
  background: $dark-blue url("../img/background-form.png") no-repeat bottom/cover;
  color: $color-white;
  padding: 12vh 0;

  .contact-title {
    margin-bottom: 2%;
    color: $color-white;
  }

  .contact-text {
    margin: 0 auto 4%;
    font-size: $font-size-small;
    color: $color-dark-grey;
  }
  .contact-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    @media (max-width: 992px) {
      align-items: center;
    }
    .fieldset {
      width: 100%;
    }
    .form-list {

      input:focus:invalid,
      textarea:focus:invalid {
        box-shadow: 0 0 5px #d45252;
        border-color: #b03535
      }

      .form-input, textarea {
        margin: 2% 0;
        padding: 25px 0 25px 15px;
        width: 100%;
        background: none;
        border: 1px solid $color-dark-grey;

        &::-webkit-input-placeholder {
          color: $color-dark-grey;
        }

        &::-moz-placeholder {
          color: $color-dark-grey;
        }

        &:hover,
        &:focus {
          border: 1px solid white;
          &::-webkit-input-placeholder {
            color: $color-white;
          }

          &::-moz-placeholder {
            color: $color-white;
          }
        }
      }

      textarea {
        height: 162px;
        resize: none;
      }

      .wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .label-check {
          padding-left: 10px;
        }

        .submit {
          padding: 10px 30px;
          background: none;
          border-radius: 2px;
          border: 1px solid $color-blue;
          transition: all 0.5s ease-in-out;

          &:hover {
            background: $color-blue;
            opacity: .8;
          }
        }
      }
    }
  }
}