.contact {
  background: $dark-blue url("../img/background-form.png") no-repeat bottom/cover;
  color: $color-white;
  padding: 12vh 0;

  .contact-title {
    margin-bottom: 2%;
    color: $color-white;
  }

  .contact-text {
    margin: 0 auto 4%;
    font-size: $font-size-small;
    color: $color-dark-grey;
  }
  .contact-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    @media (max-width: 992px) {
      align-items: center;
    }
    .fieldset {
      width: 100%;
    }
    .form-list {

      input:focus:invalid,
      textarea:focus:invalid {
        box-shadow: 0 0 5px #d45252;
        border-color: #b03535
      }

      .form-input, textarea {
        margin: 2% 0;
        padding: 25px 0 25px 15px;
        width: 100%;
        background: none;
        border: 1px solid $color-dark-grey;

        &::-webkit-input-placeholder {
          color: $color-dark-grey;
        }

        &::-moz-placeholder {
          color: $color-dark-grey;
        }

        &:hover,
        &:focus {
          border: 1px solid white;
          &::-webkit-input-placeholder {
            color: $color-white;
          }

          &::-moz-placeholder {
            color: $color-white;
          }
        }
      }

      textarea {
        height: 162px;
        resize: none;
      }

      .wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        input[type=checkbox] {
          display: none;
        }

        .squared {
          position: relative;
        }

        .squared label {
          cursor: pointer;
          position: absolute;
          width: 17px;
          height: 17px;
          top: -10px;
          border-radius: 2px;
          background-color: rgba(246, 249, 249, 0.54);
        }

        .squared label:before {
          opacity: 0;
          content: '';
          position: absolute;
          width: 9px;
          height: 5px;
          background: transparent;
          top: 4px;
          left: 4px;
          border: 3px solid #333;
          border-top: none;
          border-right: none;
          transform: rotate(-45deg);
        }

        .squared label:hover::before {
          opacity: 0.5;

          @media (max-width: 1200px) {
            opacity: 0;
          }
        }

        .squared input[type=checkbox]:checked + label {
            background-color: $color-blue;
        }

        .squared input[type=checkbox]:checked + label:before {
          opacity: 1;
          border: 3px solid #fff;
          border-top: none;
          border-right: none;
          transform: rotate(-45deg);
        }

        .checkbox-label {
          position: absolute;
          white-space: nowrap;
          left: 30px;
          top: -2px;
          
          @media (max-width: 400px ) {
            white-space: normal;
            top: -12px;
          }
        }

        .submit {
          padding: 10px 30px;
          background: none;
          border-radius: 2px;
          border: 1px solid $color-blue;
          transition: all 0.5s ease-in-out;

          &:hover {
            background: $color-blue;
            opacity: .8;
          }
        }
      }
    }
  }
}