/*
 * USED FONTS
 * 
 * 1. Open Sans
 * 2. Code-light
 * 3. Century-gotic
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@font-face {
  font-family: 'Code-Light';
  src: url('../fonts/Code-Light/Code-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Code-Light/Code-Light.otf')  format('opentype'),
       url('../fonts/Code-Light/Code-Light.woff') format('woff'),
       url('../fonts/Code-Light/Code-Light.ttf')  format('truetype'),
       url('../fonts/Code-Light/Code-Light.svg#Code-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
       url('../fonts/CenturyGothic/CenturyGothic.ttf')  format('truetype'),
       url('../fonts/CenturyGothic/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?94964387');
  src: url('../fonts/fontello/fontello.eot?94964387#iefix') format('embedded-opentype'),
  url('../fonts/fontello/fontello.woff2?94964387') format('woff2'),
  url('../fonts/fontello/fontello.woff?94964387') format('woff'),
  url('../fonts/fontello/fontello.ttf?94964387') format('truetype'),
  url('../fonts/fontello/fontello.svg?94964387#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}