// COLORS

$color-body-bg:					#ffffff;
$color-grey:                    #f6f6f6;
$color-dark-grey:               #b2b2b2;
$color-blue:                    #1a54e7;

$color-text:                    #000000;
$color-h1:                      #ffffff;

$color-tech-bg:                 #000000;
$color-nature-bg:               #58b600;
$color-trips-bg:                #d90445;
$color-fashion-bg:              #8200b2;

// TYPOGRAPHY

$font-family-serif:			    'PT Serif', serif;
$font-family-sans:			    'PT Sans', sans-serif;
$font-footer:                   'Proxima Nova Lt', sans-serif;
$font-footer-bold:              'Proxima Nova Rg', sans-serif;

$base-font-size:                18px;

$h1-font-size: 	 			    48px;
$h2-font-size:                  24px;
$h3-font-size:                  18px;
$post-date-size:                14px;