.main-header {
  background: #f0f0f0;
  .social-list {
    display: inline-block;
    text-align: center;
    li {
      display: inline-block;
      padding: 8px 5px;
      a {
        color: #545051;
      }
    }
  }
  .help-list {
    display: inline-block;
    text-align: center;
    li {
      display: inline-block;
    }
    .donate {
      background: #61a70a;
      a {
        color: #fff;
        padding: 8px 0;
        display: block;
      }
    }
    .volunteer {
      background: #fdcd05;
      a {
        color: #545051;
        padding: 8px 0;
        display: block;
      }
    }
  }
}