.navigation {
  padding: 30px 0;
  background: #fff;
  .logo{

  }
  .main-nav {
    display: inline-block;
    li {
      display: inline-block;
      border-right: 1px solid #545051;
      padding: 0 10px;
      &:last-child {
        border: none;
      }
      a {
        color: #545051;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}