.clients {
  padding: 3vh 0;
  background: $color-grey;
  .clients-work-title {
    margin-bottom: 4vh;
    padding: 10px 30px;
    position: relative;
    display: inline-block;
    color: $color-yellow;
    background: $color-dark-grey;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 18px;
      width: 100vw;
      height: 1px;
      background-color: #cacaca;
      border: solid $color-grey;
      border-width: 0 40px;
    }

    &:before {
      left: -100vw;
    }

    &:after {
      right: -100vw;
    }
  }
  .portfolio-text {
    color: #424146;
    font-size: 16px;
    margin-bottom: 5vh;
  }

  .flexslider-2 {
    .slides {
      li {
        text-align: center;

        img {
          width: 125px;
          height: auto;
          display: inline-block;
        }
      }
    }
    .flex-viewport {
      margin: 0 auto;
    }
  }
  .flexslider-2 {
    margin: 0;
    padding: 0;
  }
  .flexslider-2 .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
  }
  .flexslider-2 .slides img {
    //width: 100%;
    //display: block;
  }
  .flexslider-2 .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .flexslider-2 {
    margin: 0 0 60px;
    position: relative;
    zoom: 1;
    border-radius: 4px;
  }
  .flexslider-2 .slides {
    zoom: 1;
  }
  .flexslider-2 .slides img {
    height: auto;
    -moz-user-select: none;
  }
  .flex-direction-nav .flex-prev {
    width: 45px;
    height: 40px;
    left: 0;
    opacity: 1;
    &:before {
      content: '';
      width: 45px;
      height: 40px;
      background: url('../img/img-sprite.png') -15px -45px;
    }
  }
  .flex-direction-nav .flex-next {
    width: 48px;
    height: 40px;
    right: 0;
    opacity: 1;
    &:before {
      content: '';
      width: 48px;
      height: 40px;
      background: url("../img/img-sprite.png");
      background-position: -58px -44px;
    }
  }
  .flex-control-nav {
    display: none;
  }
}