#map {
  width: 100%;
  height: 500px;
  margin: 75px 0 0 0;
}
.contact-wrapper {
  padding: 75px 0;
  text-align: left;
  .contact-call {
    .sub-head {
      margin-bottom: 20px;
    }
    textarea {
      resize: none;
      color: $color-dark-grey;
      width: 100%;
      padding: 10px;
    }
    li {
      margin-bottom: 20px;
      input {
        width: 100%;
        color: $color-dark-grey;
        padding: 10px;
      }
      .btn {
        width: auto;
        color: #fff;
        margin: 0 15px 0 0;
        border: none;
        border-bottom: 3px solid $color-yellow;
        &:hover {
          color: $color-yellow;
        }
      }
    }
    .submit-contact {
      text-align: right;
    }
  }
  .contact-page-info {
    .sub-head {
      margin-bottom: 20px;
    }
    .contacts {
      li {
        color: #424147;
        position: relative;
        margin-bottom: 30px;
        padding-left: 50px;
        .call-me-maybe {
          display: block;
          width: 100%;
          dt, dd {
            display: inline-block;
          }
          dd:nth-child(3) {
            padding-left: 48px;
            display: block;
          }
        }
        a {
          color: #424147;
        }
      }
      .address,
      .call-me,
      .mail {
        &:before {
          font-family: "FontAwesome", sans-serif;
          color: $color-white;
          font-size: 20px;
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          padding: 5px;
          background: #000000;
        }
      }
      .address {
        &:before {
          content: "\f041";
          padding: 5px 9px;
          font-size: 20px;
        }
      }
      .call-me {
        &:before {
          content: "\f232";
        }
      }
      .mail {
        a {
          line-height: 16px;
          span {
            background: $color-dark-grey;
          }
        }
        &:before {
          content: "\f0e0";
        }
      }
    }
  }
}