.main-slider {
  height: 80vh;

  .flexslider {
    margin: 0;
    border: none;

    .slides {

      li {
        height: 76vh;
        background: url("../img/team.png"), url("../img/slider-bg.png");
        background-repeat: no-repeat, no-repeat;
        background-position: bottom left 90%, left, top;
        background-size: contain, cover;
        text-align: left;

        @media (max-width: 1024px) {
          background: url("../img/slider-bg.png");
          background-repeat: no-repeat;
          background-size: cover;
        }

        @media (max-width: 991px) {
          height: 82vh;
        }

        .wrap-content {
          @media (max-width: 1024px) {
            text-align: center;
            width: 800px;
            margin: 0 auto;
            display: block;
            padding: 0 50px;
          }
          @media (max-width: 768px) {
            text-align: center;
            width: auto;
            margin: 0 auto;
            display: block;
          }
        }

        .slogan {
          margin-top: 50px;
          width: 400px;

          @media (max-width: 1024px) {
            width: auto;
            text-align: center;
            margin-top: 10vh;
            margin-bottom: 10px;
          }
        }
        h1 {
          margin: 45px 0 0 0;
          @media (max-width: 1200px) {
            font-size: 65px;
          }
          @media (max-width: 992px) {
            font-size: 60px;
            text-align: center;
          }
          @media (max-width: 768px) {
            font-size: 40px;
            text-align: center;
          }
          span {
            background: $color-yellow;
            margin-bottom: 8px;
            line-height: 91px;
            text-transform: uppercase;
            color: $color-black;
            @media (max-width: 1200px) {
              line-height: 80px;
            }
            @media (max-width: 992px) {
              line-height: 75px;
            }
            @media (max-width: 768px) {
              line-height: 65px;
            }
          }
        }
        p {
          color: $color-white;
          font-size: 24px;
          line-height: 34px;
          margin: 5px 0 0 0;
          @media (max-width: 992px) {
            font-size: 20px;
            text-align: center;
          }
          span {
            background-color: #414146;
            padding: 2px 0;
          }
        }

        .header-btn {
          margin-top: 30px;
          display: inline-block;
          color: $color-white;
          font-size: 24px;
          padding: 12px 18px;
          background-color: $color-black;
          border-bottom: 3px solid #ffea00;
          margin-left: 20vw;
          transition: all 0.5s ease-in-out;

          @media (max-width: 992px) {
            font-size: 24px;
            padding: 12px 18px;
            margin: 10px 0 0 50%;
            transform: translate(-50%,0);

          }

          @media (max-width: 767px) {
            margin-left: 0;
            font-size: 24px;
            padding: 12px 18px;
            margin: 10px 0 0 50%;
            transform: translate(-50%,0);
          }

          &:hover {
            color: $color-yellow;
        }
        }
      }
    }

    .flex-viewport {
      height: 76vh;

      @media (max-width: 991px) {
        height: 80vh;
      }
    }
  }

  .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;

    li {

      a {
        display: block;
        text-indent: -9999px;
        width: 24px;
        height: 24px;
        background: $color-dark-grey;
        border: 3px solid $color-dark-grey;
        border-radius: 0;
      }

      .flex-active {
        background: $color-yellow;
      }
    }
  }

  .flex-direction-nav {
    .flex-nav-prev {
      .flex-prev {
        width: 50px;
        height: 100px;
        opacity: 1;
        background: black;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);
        &:before {
          content: '\f104';
          font-family: 'fontello', sans-serif;
          color: white;
          width: 50px;
          height: 100px;
          transform: translate(0,25%);
        }
      }
    }

    .flex-nav-next {
      .flex-next {
        width: 50px;
        height: 100px;
        top: 50%;
        right: 0;
        transform: translate(0,-50%);
        opacity: 1;
        background: black;
        &:before {
          width: 50px;
          height: 100px;
          content: '\f105';
          font-family: 'fontello', sans-serif;
          color: white;
          transform: translate(-25%,25%);
        }
      }
    }
  }
}
